# Node
frontend/node_modules/
frontend/build/

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Env
.env
backend/.venv/


# OS
.DS_Store
Thumbs.db

archive

Dataset.csv
Unititled.ipynb

HogwartsTechWizards-PS3.pdf
HogwartsTechWizards-PS3.pptx
Prototype.png
SmartCommerceAI-Demo.mov
SystemFlow.png

node_modules/